* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 500px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 270px;
    background: black;
}

ul {
    list-style-type: none;
    font-size: 30px;
    padding: 50px;
}

#red {
    color: red;
    margin-bottom: 10px;
}

#orange {
    color:orange;
    margin-bottom: 10px;
}

#yellow {
    color:yellow;
    margin-bottom: 10px;
}

#green {
    color:green;
    margin-bottom: 10px;
}

#blue {
    color: blue;
    margin-bottom: 10px;
}

#purple {
    color: purple;
    margin-bottom: 10px;
}

/* for index.html */

h2 {
    margin: 10px;
}

.gold_rainbows {
    margin: 20px;
    padding: 20px;
}

#leprechaun {
    color: black;
}