.container {
    position: relative;
    height: 220px;
    width: 220px;
    }
    
    .interior.div1 {
        width: 100px;
        height:100px;
        background-color: blue;
        position: absolute;
        bottom: 0;
    }
    
    .interior.div2 {
        width: 100px;
        height:100px;
        background-color: blue;
        position: absolute;
        top: 0;
    }
    
    .interior.div3 {
        width: 100px;
        height:100px;
        background-color: blue;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    
    .interior.div4 {
        width: 100px;
        height:100px;
        background-color: blue;
        position: absolute;
        right: 0;
    }
    
    .interior.div5 {
        width: 100px;
        height:100px;
        background-color: red;
        position: absolute;
        right: 50%;
        margin-right: -50px;
        top: 50%;
        margin-top: -50px;
        transform: rotate(45deg);
        z-index: 1;
    }
    
    
    
    